*{
    font-family: 'Odibee Sans', cursive;
    box-sizing: border-box;
}

html { overflow-y: scroll; }

.text-sm{
    font-size: 10px;
}

.text-md{
    font-size: 2rem;
}

.head{
    height: 100%;
    width: 100%;
    background: url(./img/bg-space.jpeg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}


.head .title{
    width: 100%;
}

.head .head-banner h1{
    color: aliceblue;
    font-size: 6rem;
}

.head-subbanner p{
    color: aliceblue;
    font-size: 2rem;
}

.hidden{
    display: none;
}

.about{
    height: 50%;
    background-color: #FFF;
}

.about h2{
    font-size: 4rem;
}

.sec-bg{
    height: 60%;
    background-image: url(./img/download.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

.product-1{
    color:brown;
    background-image: url(./meme/meme1.jpeg);
    background-size: cover;
    height: 30ch;
    /* padding: 8rem 0 0; */
}

.product-title{
    padding: 95px 0 0;
}
