*{
    font-family: 'Odibee Sans', cursive;
    box-sizing: border-box;
}

html { overflow-y: scroll; }

.text-sm{
    font-size: 10px;
}

.text-md{
    font-size: 2rem;
}

.head{
    height: 100%;
    width: 100%;
    background: url(./img/bg-space.jpeg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}


.head .title{
    width: 100%;
}

.head .head-banner h1{
    color: aliceblue;
    font-size: 6rem;
}

.head-subbanner p{
    color: aliceblue;
    font-size: 2rem;
}

.hidden{
    display: none;
}

.about{
    height: 50%;
    background-color: #FFF;
}

.about h2{
    font-size: 4rem;
}

.sec-bg{
    height: 60%;
    background-image: url(./img/download.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

.product-1{
    color:#FFF;
    background-image: url(./img/bgp.jpeg);
    background-size: cover;
}

.product-content {
    padding: 1.5em;
    background: rgb(159,159,159);
    background: linear-gradient(0deg, rgba(159,159,159,0.2187979294478528) 0%, rgba(56,54,50,0.5715586656441718) 100%);
}
