*{
    font-family: 'Odibee Sans', cursive;
    box-sizing: border-box;
}

html { 
    scroll-behavior: smooth;
    overflow-y: scroll; 
}

body{
    position: relative;
}

.text-lg{
    font-size: 4rem;
}

.text-md{
    font-size: 2rem;
}

.text-sm{
    font-size: 1.5rem;
}

.text-xsm{
    font-size: 0.7rem;
}

.navbar-brand{
    width: 90px;
    height: 90px;
}

.navbar-brand img{
    width: 100%;
    height: 100%;
}

.head{
    height: 100%;
    width: 100%;
    background: url(./img/bg-space.jpeg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}


.head .title{
    width: 100%;
}

.head .head-banner h1{
    color: aliceblue;
    font-size: 6rem;
}

.head-subbanner p{
    color: aliceblue;
    font-size: 2rem;
}

.hidden{
    display: none;
}

.tag-line{
    height: fit-content;
    width: 100%;
    margin: 40vh 0 40vh;
}

.tag-line-box{
    margin: 10vh 0 10vh;
}


.sec-bg{
    height: 100vh;
    background-image: url(./img/download.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

.product{
    color: #FFF;
    background-image: url(./img/hex.jpeg);
    background-size: cover;
    padding: 8rem 0 0;
    max-width: 36ch;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: transform 500ms ease;
}

.product:hover{
    transform: scale(1.05);
}

.product-content{
    padding: 1.5em;
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(0 0% 0% / 1)
    );
    transform: translateY(75%);
    transition: transform 500ms ease;
}

.product:hover .product-content {
    transform: translateY(0);
}

.product-title{
    position:relative;
    width: max-content;
}

.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    background: rgb(247, 176, 23);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 800ms ease;
}

.product:hover .product-title:after{
    transform: scaleX(1)
}

.product-btn{
    cursor: pointer;
    display: inline;
    text-decoration: none;
    color: #FFF;
    background-color: rgb(247, 176, 23);
    padding: 0.5em 1.25em;
    border-radius: 0.5em;
}

.about .row{
    margin: 10vh 0 0;
    justify-content: center;
    align-items: center;
}

.third-bg{
    height: 60%;
    background-image: url(./img/bg3.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

.contact{
    background-color: #FFF;
    color: rgb(48, 47, 47)
}

.fab,
.far{
    font-size: 3rem;
    text-decoration: none;
    color: grey;
}

.call-list{
    list-style-type: none;
}

.call-list-item{
    padding: 20px;
    display: inline;
}

.footer{
    height: auto;
    background: rgb(143, 143, 143);
}