.slideshow-container {
    margin: auto;
    align-items: center;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .mySlides {
    /* display: none; */
    width: 100%;
 }
 
 .slideImg{
    width: 100%;
    object-fit: contain;
 }
  
 /* .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 6.5s;
 }
  
 @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
 }
  
 @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
 } */
 